<!DOCTYPE html>
<html lang="en-us">

<head>
  <meta charset="utf-8">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{{ PRODUCT_NAME }}}</title>
  <link rel="shortcut icon" href="TemplateData/favicon.ico">
  <link rel="stylesheet" href="TemplateData/style.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"></head>
<style>
  body {
    background-image: url("img/tetromino.png");
    background-repeat: repeat;
    background-size: 150px;
	background-color: black;
	color: #f5f5f5
  }
  .container.header {
    height: 2em;
  }

  .card-group{
	color: #000;
  }
  
  .card, .list-group-item {
	background-color: #F5F5F5;
  }
  
  .container.main {
   
  }
  
  .container {
    border-radius: 5px;
    background-color: #222;
    min-width: 992px;
  }

  .card-img-top {
    height: 4em;
  }
  
  #start-game:hover {
    border: 1px solid black;
  }

  #game-stuff {
    border-radius: 0;
    background-color: #231F20;
	border: 0;
  }
  
  footer.container {
    padding: 0.7em;
    margin-bottom: 1em;
  }
  
  footer.container p {
    margin: 0;
  }
  
</style>
<body>

<div class="container main my-2 p-3">

  <h1 class="my-2">{{{ PRODUCT_NAME }}}</h1>

  <div class="card-group my-2">
    <div class="card">
      <div class="card-img-top mx-auto"></div>
      <div class="card-body">
        <h5 class="card-title">Action</h5>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Rotate Camera</li>
          <li class="list-group-item">Move Block</li>
          <li class="list-group-item">Rotate Block</li>
          <li class="list-group-item">Fast Down</li>
          <li class="list-group-item">Pause/Menu</li>
        </ul>
      </div>
    </div>
    <div class="card">
      <img src="img/keyboard.svg" class="card-img-top mx-auto p-3" alt="image_keyboard">
      <div class="card-body">
        <h7 class="card-title">Keyboard</h7>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><span class="badge m-1 bg-secondary">Q, E</span></li>
          <li class="list-group-item"><span class="badge m-1 bg-secondary">WASD</span></li>
          <li class="list-group-item"><span class="badge m-1 bg-secondary">Arrowkeys</span></li>
          <li class="list-group-item"><span class="badge m-1 bg-secondary">Space</span></li>
          <li class="list-group-item"><span class="badge m-1 bg-secondary">P, ESC (also exits Fullscreen)</span></li>
        </ul>
      </div>
    </div>
    <div class="card">
      <img src="img/smartphone-call.svg" class="card-img-top mx-auto p-3" alt="image_mobile">
      <div class="card-body">
        <h7 class="card-title">Mobile</h7>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><span class="badge m-1 bg-secondary">Top Left/Right Screen</span></li>
          <li class="list-group-item"><span class="badge m-1 bg-secondary">Left Bottom Cross</span></li>
          <li class="list-group-item"><span class="badge m-1 bg-secondary">Right Bottom Buttons</span></li>
          <li class="list-group-item"><span class="badge m-1 bg-secondary">Left Bottom Cross Down</span></li>
          <li class="list-group-item"><span class="badge m-1 bg-secondary">N/A</span></li>
        </ul>
      </div>
    </div>
    <div class="card">
      <img src="img/gamepad.svg" class="card-img-top mx-auto p-3" alt="image_gamepad">
      <div class="card-body">
        <h7 class="card-title">Gamepad</h7>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><span class="badge m-1 bg-secondary">Right Stick</span></li>
          <li class="list-group-item"><span class="badge m-1 bg-secondary">Left Stick</span><span class="badge bg-secondary">DPad</span></li>
          <li class="list-group-item"><span class="badge m-1 bg-secondary">LB/RB LT/RT</span></li>
          <li class="list-group-item"><span class="badge m-1 bg-secondary">South button (A on most Gamepads)</span></li>
          <li class="list-group-item"><span class="badge m-1 bg-secondary">Start button</span></li>
        </ul>
      </div>
    </div>
  </div>
  <h3 class="my-2">Description</h3>
  <p>Build a tower of as much as possible tetromino pieces without loosing them in the water.</p>

</div><!-- /.container main -->

<div class="container game my-2 p-3">
  <div class="card-header d-flex justify-content-between">
    <button id="fullscreen-button" class="btn btn-primary">Enter Fullscreen</button>
    <h4>fullscreen is recommended</h4>
    <!--button id="hide-game" class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#game-stuff" aria-expanded="false" aria-controls="game-stuff">
    Hide Game</button-->
  </div>
  <div id="game-stuff" class="card p-0 collapse show" >

    <div id="game-content" class="mx-auto p-0">
      <canvas id="unity-canvas"></canvas>
      <div id="unity-loading-bar">
        <div id="unity-logo"></div>
        <div id="unity-progress-bar-empty">
          <div id="unity-progress-bar-full"></div>
        </div>
      </div>
      <div id="unity-warning"> </div>
    </div>
  </div>
  <p>
    Commit hash: <span id="commit_sha"></span><br>
    Commit ref: <span id="commit_ref_name"></span><br>
    Commit Timestamp: <span id="commit_timestamp"></span>
  </p>
</div><!-- /.container game -->

<div class="container Leaderboard my-2 p-3 overflow-auto" style="height: 400px;">
  <h3>Leaderboards</h3>
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <a class="nav-link active" id="adventure-tab" data-bs-toggle="tab" href="#home" role="tab" aria-controls="adventure" aria-selected="true">Adventure</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="creative-tab" data-bs-toggle="tab" href="#profile" role="tab" aria-controls="creative" aria-selected="false">Creative</a>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="adventure-tab">
      <ul id="leaderboard-content-adventure" class="list-group">
      </ul>
    </div>
    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="creative-tab">
      <ul id="leaderboard-content-creative" class="list-group">
      </ul>
    </div>
  </div>
</div>

<footer class="container">
  <p class="float-end">Sourcecode & native builds: <a href="https://gitlab.com/fachschafttf/ludumdare49">Gitlab</a></p>
  <p>Developed for the LududmDare 49 &middot; <a href="https://ldjam.com">ldjam.com</a> &middot; &nbsp;<span style="font-size: 12px">"Icons made by Pixel perfect from www.flaticon.com"</span></p>
  
</footer>

<!-- Our own scripts -->
<script src="js/unityloader.js"></script>
<script src="js/getCommitInfo.js"></script>

<!-- Bootstrap -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/8.4.2/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.4.1/firebase-database.js"></script>
<script src="js/firebaseconfig.js"></script>
<script src="js/firebaseLeaderboard.js"></script>
</body>

</html>